<div> 
<div class="panel panel-default">
  <div class="panel-body">
    Pesquisar
<div class="row">
  <div class="col-lg-12">
    <div class="input-group">
      <input type="text" class="form-control" ng-model="busca" laceholder="pesquisar por">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Ok</button>
      </span>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
</div><!-- /.row -->

  </div>
</div>
<table class = "table table-striped">
	<tr>
		<th>
			Código

		</th>
		<th>
			Descrição

		</th>
		<th>
			Preço

		</th>
		<th>
			

		</th>

		<th>
			

		</th>
	</tr>
	<tr ng-repeat = "produto in produtos|filter:busca">
		<td>

			{{produto.codigo}}
		</td>
		<td>
			{{produto.nome}}

		</td>
		<td>
			{{produto.preco}}

		</td>
		<td>
			<button class="btn btn-primary btn-danger" ng-click="excluirProduto(produto)"> Exluir</button>
			<button class="btn btn-primary btn-success" ng-click="alterarProduto(produto)"> Alterar</button>
		</td>

	</tr>


</table>
<div class="panel panel-default">
  <div class="panel-body">
<button class="btn" ng-click="irParaCadastro()">Cadastrar</button>
<div>
</div>
</div>